data
platformer/Debug_v120_xp/
platformer/Release_v120_xp
platformer/platformer.opensdf
platformer/platformer.sdf
platformer/platformer.v12.suo
platformer/Debug/
platformer/ipch/
platformer/Release/
PlatformerTest/Debug/
PlatformerTest/Release/
